html {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 lightblue;
}

.StripeElement--invalid {
    border-color: orange;
}

.StripeElement--webkit-autofill {
    background-color: white !important;
}