.header {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    float: left;
    width: 22%;
    margin: 15px;
    padding: 3px;
    text-align: center;
    border-style: outset;
}

.link {
    height: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    height: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check {
    position: relative;
    right: 80px;
}

.del-btn {
    position: relative;
    left: 70%;
    margin: 10px;
}

.credentials {
    margin: 20px;
    position: relative;
    /*left: 65%;*/
    text-align: center;
}

.product-list {
    min-height: 110px;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #ddd;
}